@charset "utf-8";

html {
    background-size: 100%;
    font-size: 16px;
    height: 100%;

}

*,*::before, *::after {
    box-sizing: border-box;
}

body{
    margin: 0;
    line-height: normal;
    font-family:"Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
    background: #da70d6;
    background: url("../img/a.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

p{
    margin: 0;
    padding: 0;
}

header {
    margin-top: 8px;
    color: rgba(253, 4, 120, 0.5);
    font-size: 38px;
    font-weight: bold;
    text-align: center;
}

.wrapper {
    position: relative;
    max-width: 100vw;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    padding-bottom: 23px;
    text-align: center;
}

#btn1 {
    position: relative;
    margin: 20px auto;
    width: 250px;
    height: 250px;
    line-height: 250px;
    border-radius: 50%;
    color: rgb(72, 255, 0);
    font-weight: bold;
    font-size: 40px;
    text-align: center;
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.65);
    background: linear-gradient(#9b66fd 0%, #eeddaf 100%);
    box-shadow: 0 10px 0 grey;
    justify-content: center;
    cursor: pointer;
    user-select: none;
    transition: 1s;
}

#btn1:hover {
    background: linear-gradient(#dab070 0%, pink 100%);
}

#btn1:active {
    position: relative;
    top: 5px;
    left: 5px;
    box-shadow: 0 5px 0 grey;
}

footer {
    position: absolute;
    bottom: 5px;
    width: 100%;
    margin: 0px;
    padding: 1px;
    color: whitesmoke;
    font: 16px Rajdhan1;
    text-align: center;
    background: rgba(1, 24, 31, 0.7);
}
.Shutter{
    position: fixed;
    top:0;
    left: 0;   
    right: 0;  
    bottom: 0;
    z-index: 9999;
    margin: 0em;
    padding: 0em;
    background-color: #1e1e1e;
    animation: byeShutter 2.5s forwards;
}
.Shutter::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 0;
    margin: auto;
    background-color: #fff;
    animation: shutterOpen 2.5s forwards;
}
@keyframes byeShutter {
    70% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        display: none;
        z-index: -1;
    }
}
@keyframes shutterOpen {
    0% {
        width: 0;
        height: 0.05em;
    }
    50% {
        width: 100%;
        height: 0.05em;
    }
    100% {
        width: 100%;
        height: 100%;
    }
}
@media screen and (min-width: 480px){
    body{
        background-position: 50% 0%;
        background-size: auto 1024px;
        display: flex;
        justify-content: center;
    }
}
